<div id="wrapper">
	{{> nav }}
	
	<div id="index-banner" class="parallax-container">
	    <div class="section no-pad-bot" id="home" >
	      <div class="container">
	        <br><br>
	        <h1 class="header heading-title center teal-text text-lighten-2">Web Developer</h1>
	        <div class="row center">
	        	<h4 class="header col s12 light text-outline">Hi, I'm Stacy and I build</h4>
	        	<div class='typewriter'>
	          		<h4 class="header col s12 light text-outline">interactive web applications from the ground up.</h5>
	          	</div>
	        </div>
	        <div class="row center">
	          {{!-- <a href="#contact" class="btn-large waves-effect waves-light teal lighten-1">Hire</a> --}}
	        </div>
	        <br><br>

	      </div>
	    </div>
	    <div class="parallax image1"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
	</div>

	<div class="container">
	    <div class="section" id="about">

	    	{{> about}}

	    </div>
	</div>


	<div class="container">
	    <div class="section" id="skills">

	      {{> skills}}

	    </div>
	</div>

	<div class="parallax-container valign-wrapper">
	    <div class="section no-pad-bot" id="section-four">
	      <div class="container">
	        <div class="row center">
{{!-- 	          <h5 class="header col s12 light text-outline">Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed.</h5> --}}
	        </div>
	      </div>
	    </div>
	    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
	</div>

	<div class="container">
	    <div class="section" id="portfolio">

	      {{> portfolio}}

	    </div>
	</div>

	<div class="parallax-container valign-wrapper">
	    <div class="section no-pad-bot" id="section-seven">
	      <div class="container">
	        <div class="row center">
	          <h5 class="header col s12 light text-outline">Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed.</h5>
	        </div>
	      </div>
	    </div>
	    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 2"></div>
	</div>

	<div class="container">
	    <div class="section" id="contact">

	    	{{> contact}}

	    </div>
	</div>

	<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot" id="section-nine">
	      <div class="container">
	        <div class="row center">
	          <h5 class="header col s12 light text-outline">Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed.</h5>
	        </div>
	      </div>
	    </div>
	    <div class="parallax"><img src="background4.jpg" alt="Unsplashed background img 3"></div>
	</div>

	{{> footer}}
</div>
