/* Custom Stylesheet */

body {
    min-width: 500px;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

nav div ul li:hover {
    background-color: rgba(255, 160, 160, 0.05);
    border-bottom-color: rgba(255, 61, 61, .75);
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

header ul li:hover {
    background-color: rgba(255, 61, 61, 0.25);
}

p {
    line-height: 2rem;
}
.section-heading{
    color: rgba(255, 61, 61, .75);
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 600px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.social-media {
    width: 200%;
    height: auto;
    font-size: 20px;
    background-color: #008080;
    border-radius: 50%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 7px;
    margin: 5px;
}

.portfolio {
    width: 100%;
    height: auto;
}

.project_title {
    color: white;
    background: #26a69a;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.image1 {
    width: 105%;
    height: 90%;
}

.typewriter h4 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .10em solid rgba(255, 61, 61, 0.35);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.text-outline {
    text-shadow: -1px -1px 0 rgba(255, 61, 61, 0.15),
    1px -1px 0 rgba(255, 61, 61, 0.15),
    -1px 1px 0 rgba(255, 61, 61, 0.15),
    1px 1px 0 rgba(255, 61, 61, 0.15);
}



/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}



/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: rgba(255, 61, 61, 0.75);
    }
}

footer.page-footer {
    margin: 0;
    height: 10%;
}