<div class="row">
	
	<div class="col s12 left-align">
		<h4 class="section-heading">My name is <a class="teal-text text-lighten-2" id="linkedInName" href="https://www.linkedin.com/in/stacy-marshall/" target="_blank">Stacy Marshall</a>. I live in Chicago, and I am a lifelong STEM fanatic.</h4>		
	</div>

	<div class="col s8 center">
	    
	    <p class="left-align light">Greetings fellow citizens of the world.</p>
	    <p class="left-align light">Intro Content</p>
		{{> skills}}

	</div>

	<div class="col s4 center">

	    <img class="profile-picture" src="profilePic.jpg" alt="Profile picture of a woman smiling">

	</div>

</div>