<footer class="page-footer teal">
    <div class="container">

      <div class="row center">

        <div class="col l12 s12">
          <h5 class="white-text">&copy;Stacy Marshall 2017</h5>
            <div>
              <a href="https://github.com/Sam-Marshall" target="_blank"><img class="social-media" src="http://scalecube.io/images/Github-icon.png" alt="GitHub Logo"></a>
              <a class="white-text" href="https://www.linkedin.com/in/stacy-marshall/"target="_blank"><img class="social-media" src="http://icons.iconarchive.com/icons/simekonelove/modern-web/256/linkedin-icon.png" alt="LinkedIn Logo"></a>
            </div>
        </div>

      </div>

    </div>
</footer>