<footer class="page-footer teal">
    <div class="container">

      <div class="row center">

        <div class="col l12 s12">
          <h5 class="white-text">&copy;Stacy Marshall 2017</h5>
          <div>
              <a class="white-text social-media" href="https://github.com/Sam-Marshall" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              <a class="white-text social-media" href="https://www.linkedin.com/in/stacy-marshall/" target="_blank">
                <i class="fa fa-linkedin-square"></i>
              </a>
              <a class="white-text social-media" href="#contact" target="_blank">
                <i class="fa fa-envelope-o"></i>
              </a>
        </div>

      </div>

    </div>
</footer>