<header>
  
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Stacy Marshall</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#section-one">Home</a></li>
          <li><a href="#section-two">About</a></li>
          <li><a href="#section-five">Portfolio</a></li>
          <li><a href="#section-eight">Contact</a></li>
          <li><a href="/Resume.pdf" target="_blank">Resume</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  
  <ul id="nav-mobile" class="side-nav">
    <li><a class="toggle-close"><i class="material-icons">keyboard_arrow_left</i></a></li>
    <li><a href="#section-one">Home <i class="material-icons">home</i></a></li>
    <li><a href="#section-two">About <i class="material-icons">person_outline</i></a></li>
    <li><a href="#section-five">Portfolio <i class="material-icons">apps</i></a></li>
    <li><a href="#section-eight">Contact <i class="material-icons">email</i></a></li>
    <li><a href="/Resume.pdf" target="_blank">Resume <i class="material-icons">picture_as_pdf</i></a></li>
  </ul>

</header>