<div class="row">
	<div class="col s12 center">
	    <h3><i class="mdi-content-send brown-text"></i></h3>
	    <h3>Portfolio</h3>
		<div class="row">
			<div class="col s6">
				<a href="https://collectr-collections.herokuapp.com/" target="_blank">
					<img class="portfolio" src="collectr.gif" alt="web application gif">
				</a>
				<h5 class="header left-align light">CollectR</h5>
				<h6 class="header left-align light">Image sharing social web app for passionate collectors</h6>
				<p class="center light">MySQL  |  Express.js  |  Handlebars.js  |  Amazon S3  |  Sequelize.js</p>
			</div>
			<div class="col s6">
				<a href="https://evening-caverns-59590.herokuapp.com/" target="_blank">
					<img class="portfolio" src="recipeScraper.gif" alt="web application gif">
				</a>
				<h5 class="header left-align light">Healthy Recipe Scraper</h5>
				<h6 class="header left-align light">Scraping web app for health conscious home chefs</h6>
				<p class="center light">MongoDB | Express.js | Handlebars.js | Mongoose</p>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background1.jpg" alt="web application gif">
				</a>
				<h5 class="header left-align light">Place Holder</h5>
				<h6 class="header left-align light">Description</h6>
				<p class="center light">Thing | Thing | Thing</p>
			</div>
			<div class="col s6">
				<a href="https://campr-guide.herokuapp.com/" target="_blank">
					<img class="portfolio" src="campr.gif" alt="web application gif">
				</a>
				<h5 class="header left-align light">CampR</h5>
				<h6 class="header left-align light">Educational web app for budding coding students</h6>
				<p "center light">React  |  MySQL  |  Express.js </p>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background2.jpg" alt="web application gif">
				</a>
				<h5 class="header left-align light">Place Holder</h5>
				<h6 class="header left-align light">Description</h6>
				<p class="center light">Thing | Thing | Thing</p>
			</div>
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background3.jpg" alt="web application gif">
				</a>
				<h5 class="header left-align light">Place Holder</h5>
				<h6 class="header left-align light">Description</h6>
				<p class="center light">Thing | Thing | Thing</p>
			</div>
		</div>		
	</div>
</div>