<div class="row">
	<div class="col s12 center">
	    <h3><i class="mdi-content-send brown-text"></i></h3>
	    <h3>Portfolio</h3>
		<div class="row">
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="collectr.gif" alt="placeholder image">
				</a>
				<h5 class="left-align light">CollectR</h5>
				<h6 class="left-align light">Image sharing social app for collectors</h6>
				<p class="center light">Thing | Thing | Thing</p>
			</div>
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background3.jpg" alt="placeholder image">
				</a>
				<h5 class="left-align light">Place Holder</h5>
				<h6 class="left-align light">Description</h6>
				<p class="center light">Thing | Thing | Thing</p>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background1.jpg" alt="placeholder image">
				</a>
				<h5 class="left-align light">Place Holder</h5>
				<h6 class="left-align light">Description</h6>
				<p class="center light">Thing | Thing | Thing</p>
			</div>
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="campr.gif" alt="placeholder image">
				</a>
				<h5 class="left-align light">CampR</h5>
				<h6 class="left-align light">Educational app for budding coding students</h6>
				<p "center light">Thing | Thing | Thing</p>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background2.jpg" alt="placeholder image">
				</a>
				<h5 class="left-align light">Place Holder</h5>
				<h6 class="left-align light">Description</h6>
				<p class="center light">Thing | Thing | Thing</p>
			</div>
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background3.jpg" alt="placeholder image">
				</a>
				<h5 class="left-align light">Place Holder</h5>
				<h6 class="left-align light">Description</h6>
				<p class="center light">Thing | Thing | Thing</p>
			</div>
		</div>		
	</div>
</div>