<div class="row">
	<div class="col s12 center">
	    <h3 class="section-heading">Portfolio</h3>
		<div class="row">
			<div class="col s6">
				<a href="https://collectr-collections.herokuapp.com/" target="_blank">
					<img class="portfolio" src="collectr.gif" alt="web application gif">
				</a>
				<h5 class="header left-align light"><b>CollectR</b></h5>
				<h6 class="header left-align light">Image sharing social web app for passionate collectors</h6>
				<p class="left-align light"><b>MySQL  |  Express.js  |  Handlebars.js  |  Amazon S3  |  Sequelize.js</b></p>
			</div>
			<div class="col s6">
				<a href="https://evening-caverns-59590.herokuapp.com/" target="_blank">
					<img class="portfolio" src="recipeScraper.gif" alt="web application gif">
				</a>
				<h5 class="header left-align light"><b>Healthy Recipe Scraper</b></h5>
				<h6 class="header left-align light">Scraping web app for health conscious home chefs</h6>
				<p class="left-align light"><b>MongoDB | Express.js | Handlebars.js | Mongoose</b></p>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<a href="https://bootcampgazette.herokuapp.com/" target="_blank">
					<img class="portfolio" src="TechWanted.gif" alt="web application gif">
				</a>
				<h5 class="header left-align light"><b>Tech Wanted</b></h5>
				<h6 class="header left-align light">Job hunt web app for those in tech</h6>
				<p class="left-align light"><b>JavaScript | jQuery | HTML | CSS | Express.js | Google Maps</b></p>
			</div>
			<div class="col s6">
				<a href="https://campr-guide.herokuapp.com/" target="_blank">
					<img class="portfolio" src="campr.gif" alt="web application gif">
				</a>
				<h5 class="header left-align light"><b>CampR</b></h5>
				<h6 class="header left-align light">Educational web app for budding coding students</h6>
				<p class="left-align light"><b>React  |  MySQL  |  Express.js | Sequelize.js | YouTube | Stack Overflow</b></p>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<a href="https://powerful-crag-20979.herokuapp.com/" target="_blank">
					<img class="portfolio" src="hangman.gif" alt="web application gif">
				</a>
				<h5 class="header left-align light"><b>She Blinded Me With Science</b></h5>
				<h6 class="header left-align light">Hangman game web app for science enthusiasts</h6>
				<p class="left-align light"><b>HTML | CSS | JavaScript</b></p>
			</div>
			<div class="col s6">
				<a href="https://fast-ocean-74925.herokuapp.com/" target="_blank">
					<img class="portfolio" src="trivia.gif" alt="web application gif">
				</a>
				<h5 class="header left-align light"><b>Harry Potter Trivia</b></h5>
				<h6 class="header left-align light">Trivia web app for Harry Potter fanatics</h6>
				<p class="left-align light"><b>jQuery | JavaScript | HTML | CSS</b></p>
			</div>
		</div>		
	</div>
</div>