<div class="row">
	<div class="col s12 center">
	    <h3><i class="mdi-content-send brown-text"></i></h3>
	    <h4>Portfolio</h4>
		<div class="row">
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="out.gif" alt="placeholder image">
				</a>
			</div>
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background1.jpg" alt="placeholder image">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background3.jpg" alt="placeholder image">
				</a>
			</div>
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background2.jpg" alt="placeholder image">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background1.jpg" alt="placeholder image">
				</a>
			</div>
			<div class="col s6">
				<a href="#" target="_blank">
					<img class="portfolio" src="background3.jpg" alt="placeholder image">
				</a>
			</div>
		</div>		
	</div>
</div>