<div class="row">
	<div class="icon-block">
		<div class="row left-align" style="margin: 0px;">
			<h2 class="col s2 teal-text darken-1" style="margin: 0px;"><i class="material-icons">devices</i></h2>
			<h5 class="col s10" style="margin: 0px; padding-top: 12px;">Real World Experience</h5>
		</div>
		<div class="row">    
		    <p class="col s12 light left-align">I am a Web Developer at Five to Nine, an up and coming social and professional networking start-up company. I am leading a team in the creation of a public facing website and a member facing social platform</p>
		</div>
	</div>

	<div class="icon-block">
		<div class="row left-align" style="margin: 0px;">
			<h2 class="col s2 teal-text darken-1" style="margin: 0px;"><i class="material-icons">account_balance</i></h2>
			<h5 class="col s10" style="margin: 0px; padding-top: 12px;">Rigorous Learning</h5>
		</div>
		<div class="row">    
		    <p class="col s12 light left-align">My formal programming education was obtained through the Northwestern School of Professional Studies Full Stack Web Development Certification course. This is an intensive program during which time we learned a full-stack, covering topics that make us proficient in both front and backend developing environments. The topics covered in depth include: HTML, Git, CSS, Heroku, Bootstrap, JavaScript, jQuery, APIs, AJAX calls, Firebase, Node.js, Javascript callbacks, MySQL, Express.js, Handlebars, Sequelize, ORMs, MongoDB, Mongoose, and React.js, with brief introductions to React Native, Python, and Django.</p>
		</div>
	</div>

	<div class="icon-block">
		<div class="row left-align" style="margin: 0px;">
			<h2 class="col s2 teal-text darken-1" style="margin: 0px;"><i class="material-icons">settings</i></h2>
			<h5 class="col s10" style="margin: 0px; padding-top: 12px;">Passion and Dedication</h5>
		</div>
		<div class="row">    
		    <p class="col s12 light left-align">Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros.</p>
		</div>
	</div>

</div>
