<div class="row">
	<div class="col s12 m4">
	    <div class="icon-block">
		    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
		    <h5 class="center">Thing One</h5>

		    <p class="light">Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros.</p>
		</div>
	</div>

	<div class="col s12 m4">
	    <div class="icon-block">
	        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
	        <h5 class="center">Thing Two</h5>

	        <p class="light">Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros.</p>
	    </div>
	</div>

	<div class="col s12 m4">
	    <div class="icon-block">
	        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
	        <h5 class="center">Thing Three</h5>

	        <p class="light">Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros.</p>
	    </div>
	</div>
</div>
